{% extends 'main.html' %}
<!-- <!DOCTYPE html>
<html>
<head>
	<title>Faculty's Total Load</title>

    {% load static %} 
       <link rel="stylesheet" href="{% static 'styles/style-main.css' %}"/>
       <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}"/>
	
</head>
<body> -->


{% block content %}
		<div class="row">
		   <div class="col-md-7">
				<div class="row">
						<div class="card-body">
							<h1 style="text-align: left;">Subject List with specific subject load</h1>
						</div>
						<div class="col-md-3">
						  <div class="card text-center mb-3" id="total-subject">
							<div class="card-header" style="background-color: #4cb4c7;">
								<h5 class="card-title"><b>Total Subject</b></h5>
							</div>
							<div class="card-body">
							  <h4 class="card-title">{{total_subject}}</h4>
							  <!-- <a href="/addsubject/" ><span class="btn btn-outline-info"><b>Add Subject</b></span></a> -->

							</div>
						  </div>
						</div>
				</div>
				<div class="card card-body">
					<table class="table">
							<tr>
								<!-- <th>Sr No.</th> -->
								<th>Subject code</th>
								<th>Subject Name</th>
                                <th>Subject Abbreviation</th>
                                <th>Semester</th>
								<th>Specific Subject Load</th>
								<th>Maximum Number Of Students</th>
								{% if request.user.is_staff %}
								<th>Update</th>
								<th>Remove</th>
								{% endif %}
							</tr>
						
						<tbody>
							{% for loads in subject %}

									<tr>
										<!-- <td>{{loads.id}}</td> -->
										<td>{{loads.subject_code}}</td>
										<td>{{loads.subject_name}}</td>
                                        <td>{{loads.subject_abv}}</td>
                                        <td>{{loads.semester}}</td>
										<td>{{loads.theory_load}}</td>
										<td>{{loads.max_numb_students}}</td>
										{% if request.user.is_staff %}
										<td><a href="/edit_subject/{{loads.subject_code}}"><span class="btn btn-success">Edit</span></a></td>
										<td><a href="/delete_subject/{{loads.subject_code}}"><span class="btn btn-danger">Delete</span></a></td>
										{% endif %}
									</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>
			</div>
			<!-- <div class="row justify-content"> -->
			{% if request.user.is_staff %}
			<div class="card-body">
				<div class="col-md-11">
				  <span class="anchor" id="formLogin"></span> 
					<div class="card card-outline-secondary">
						<div class="card-header" style="background-color: #4cb4c7;">
						<h3 class="mb-0">Add New Subject</h3>
						</div>
						<div class="card-body">
						<form class="post-form" id="formLogin" method="POST" action="">
							{% csrf_token %}
							<!-- <div class="form-group">
								<label><b>Subject code :</label> 
								<input type="text" name="subject_code" value="{{subject.subject_code}}"/>
							</div>
							<div class="form-group">
								<label><b>Subject Name :</b></label> 
								<input type="text" name="subject_name" value="{{subject.subject_name}}"/>
							</div>
							<div class="form-group">
								<label><b>Subject Abbreviation :</b></label> 
								<input type="text" name="subject_abv" value="{{subject.subject_abv}}"/>
							</div>
							<div class="form-group">
								<label><b>Semester :</b></label> 
								<input type="text" name="semester" value="{{subject.semester}}"/>
							</div>
							<div class="form-group">
								<label><b>Specific Subject load :</b></label> 
								<input type="text" name="theory_load" value="{{subject.theory_load}}"/>
							</div> -->
							<div class="tabcontent" id="new">
                                {{ form.as_p }}
                                <button class="btn btn-success btn-lg float-right" type="submit">Add Faculty</button>
                            </div>
							
							<!-- <button class="btn btn-success btn-lg float-right" type="submit">Add subject</button> -->
						</form>
						</div><!--/card-block-->
					</div><!-- /form card login -->
				</div>
			</div>
			{% endif %}

		</div>
	{% endblock content %}

<!-- </body>
</html> -->